<a href="https://colab.research.google.com/github/ginzburg1991/pyspark_mini_project/blob/main/practice_pySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=c96f2b3309bce0bcff9c1b39093194a133a0a6d2335a2d79be054e1c9b180f1c
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("/content/pySpark-test - Sheet1.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/content/pySpark-test - Sheet1.csv'

In [ ]:
type(pd.read_csv('/content/pySpark-test - Sheet1.csv'))

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("Practise").getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('/content/pySpark-test - Sheet1.csv')

SyntaxError: invalid syntax (<ipython-input-11-0e4f044dd487>, line 1)

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [ ]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|Michael| 31|
|   Alex| 30|
|    Ben| 29|
+-------+---+

In [ ]:
df_pyspark = spark.read.option('header', 'true').csv('/content/pySpark-test - Sheet1.csv')

In [ ]:
spark.read.option('header', 'true').csv('/content/pySpark-test - Sheet1.csv').show()

+-------+---+
|   Name|Age|
+-------+---+
|Michael| 31|
|   Alex| 30|
|    Ben| 29|
+-------+---+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Michael', Age='31'),
 Row(Name='Alex', Age='30'),
 Row(Name='Ben', Age='29')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

**Part 2**

In [ ]:
df_pyspark1 = spark.read.csv('/content/pyspark-test1 - Sheet1.csv')
#df_pyspark1 = spark.read.csv('/content/pyspark-test1 - Sheet1.csv', header=True, inferSchema=True) this way you dont have to do read option later

In [ ]:
df_pyspark1.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Michael| 31|        10|
|   Alex| 30|         8|
|    Ben| 29|         4|
+-------+---+----------+

In [ ]:
df_pyspark1 = spark.read.option('header', 'true').csv('/content/pyspark-test1 - Sheet1.csv', inferSchema=True)

In [ ]:
df_pyspark1.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Michael| 31|        10|
|   Alex| 30|         8|
|    Ben| 29|         4|
+-------+---+----------+

In [ ]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
type(df_pyspark1) #dataframe is a datastructure where you can perform varius opperations on and is ussually 2 dimenional with rows and column. A spreadsheet is an example.

pyspark.sql.dataframe.DataFrame

Selecting columns and indexing

In [ ]:
df_pyspark1.columns

['Name', 'Age', 'Experience']

In [ ]:
df_pyspark1.head(3)

[Row(Name='Michael', Age=31, Experience=10),
 Row(Name='Alex', Age=30, Experience=8),
 Row(Name='Ben', Age=29, Experience=4)]

In [ ]:
df_pyspark1.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Michael| 31|        10|
|   Alex| 30|         8|
|    Ben| 29|         4|
+-------+---+----------+

In [ ]:
df_pyspark1.select('Name')

DataFrame[Name: string]

In [ ]:
df_pyspark1.select('Name').show()

+-------+
|   Name|
+-------+
|Michael|
|   Alex|
|    Ben|
+-------+

In [ ]:
type(df_pyspark1.select('Name'))

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark1.select(['Name', 'Experience'])

DataFrame[Name: string, Experience: int]

In [ ]:
df_pyspark1.select(['Name', 'Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|Michael|        10|
|   Alex|         8|
|    Ben|         4|
+-------+----------+

In [ ]:
df_pyspark1['Name']

Column<'Name'>

In [ ]:
df_pyspark1.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [ ]:
df_pyspark1.describe().show()

+-------+-------+----+-----------------+
|summary|   Name| Age|       Experience|
+-------+-------+----+-----------------+
|  count|      3|   3|                3|
|   mean|   NULL|30.0|7.333333333333333|
| stddev|   NULL| 1.0|3.055050463303893|
|    min|   Alex|  29|                4|
|    max|Michael|  31|               10|
+-------+-------+----+-----------------+

Adding Columns in data frame

In [ ]:
df_pyspark1.withColumn('Experience After 2 year', df_pyspark1['Experience']+2)

DataFrame[Name: string, Age: int, Experience: int, Experience After 2 year: int]

In [ ]:
df_pyspark1 = df_pyspark1.withColumn('Experience After 2 year', df_pyspark1['Experience']+2)

In [ ]:
df_pyspark1.show()

+-------+---+----------+-----------------------+
|   Name|Age|Experience|Experience After 2 year|
+-------+---+----------+-----------------------+
|Michael| 31|        10|                     12|
|   Alex| 30|         8|                     10|
|    Ben| 29|         4|                      6|
+-------+---+----------+-----------------------+

Drop the columns

In [ ]:
df_pyspark1.drop('Experience After 2 year').show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Michael| 31|        10|
|   Alex| 30|         8|
|    Ben| 29|         4|
+-------+---+----------+

Rename Columns

In [ ]:
df_pyspark1.withColumnRenamed('Name', 'New Name')

DataFrame[New Name: string, Age: int, Experience: int, Experience After 2 year: int]

In [ ]:
df_pyspark1.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+-----------------------+
|New Name|Age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
| Michael| 31|        10|                     12|
|    Alex| 30|         8|                     10|
|     Ben| 29|         4|                      6|
+--------+---+----------+-----------------------+

## PySpark Handling Missing Values
Dropping Columns

Dropping Rows

Various Parameter in Dropping functionalities

Handling Missing values by Mean, Median and Mode

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
df_pyspark2 = spark.read.csv('/content/test2 - Sheet1.csv', header = True, inferSchema=True)

In [ ]:
spark.read.csv('/content/test2 - Sheet1.csv', header = True).show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Sudhanshun|  30|         8| 25000|
|     Sunny|  29|         4| 20000|
|      Paul|  24|         3| 20000|
|    Harsha|  21|         1| 15000|
|   Shubham|  23|         2| 18000|
|    Mahesh|NULL|      NULL| 40000|
|      NULL|  34|        10| 38000|
|      NULL|  36|      NULL|  NULL|
+----------+----+----------+------+

In [ ]:
df_pyspark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df_pyspark2.drop("Name").show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [ ]:
df_pyspark2.na.drop().show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Sudhanshun| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
+----------+---+----------+------+

In [ ]:
#only drops if the whole row is null
df_pyspark2.na.drop(how="any").show()

NameError: name 'df_pyspark2' is not defined

In [ ]:
#drops any null value
df_pyspark2.na.drop(how ="any").show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Sudhanshun| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
+----------+---+----------+------+

In [ ]:
#threshold
df_pyspark2.na.drop(thresh=2).show()
#drops all rows that have less than 2 not null values

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Sudhanshun|  30|         8| 25000|
|     Sunny|  29|         4| 20000|
|      Paul|  24|         3| 20000|
|    Harsha|  21|         1| 15000|
|   Shubham|  23|         2| 18000|
|    Mahesh|NULL|      NULL| 40000|
|      NULL|  34|        10| 38000|
+----------+----+----------+------+

In [ ]:
df_pyspark2.na.drop(thresh=3).show()
#drops all rows that have less than 2 not null values

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Sudhanshun| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
|      NULL| 34|        10| 38000|
+----------+---+----------+------+

In [ ]:
##Subset

In [ ]:
df_pyspark2.na.drop(subset=['Age', 'Experience']).show()
#drops whole row if it has a null in that group

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Sudhanshun| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
|      NULL| 34|        10| 38000|
+----------+---+----------+------+

In [ ]:
###Filling the missing vlaue

In [ ]:

df_pyspark2.na.fill('Missing Values').show()

+--------------+--------------+--------------+--------------+
|          Name|           Age|    Experience|        Salary|
+--------------+--------------+--------------+--------------+
|         Krish|            31|            10|         30000|
|    Sudhanshun|            30|             8|         25000|
|         Sunny|            29|             4|         20000|
|          Paul|            24|             3|         20000|
|        Harsha|            21|             1|         15000|
|       Shubham|            23|             2|         18000|
|        Mahesh|Missing Values|Missing Values|         40000|
|Missing Values|            34|            10|         38000|
|Missing Values|            36|Missing Values|Missing Values|
+--------------+--------------+--------------+--------------+

In [ ]:
df_pyspark2.na.fill('Missing Values', 'Experience').show()

+----------+----+--------------+------+
|      Name| Age|    Experience|Salary|
+----------+----+--------------+------+
|     Krish|  31|            10| 30000|
|Sudhanshun|  30|             8| 25000|
|     Sunny|  29|             4| 20000|
|      Paul|  24|             3| 20000|
|    Harsha|  21|             1| 15000|
|   Shubham|  23|             2| 18000|
|    Mahesh|NULL|Missing Values| 40000|
|      NULL|  34|            10| 38000|
|      NULL|  36|Missing Values|  NULL|
+----------+----+--------------+------+

In [ ]:
df_pyspark2.na.fill('Missing Values', ['Experience', 'Age']).show()

+----------+--------------+--------------+------+
|      Name|           Age|    Experience|Salary|
+----------+--------------+--------------+------+
|     Krish|            31|            10| 30000|
|Sudhanshun|            30|             8| 25000|
|     Sunny|            29|             4| 20000|
|      Paul|            24|             3| 20000|
|    Harsha|            21|             1| 15000|
|   Shubham|            23|             2| 18000|
|    Mahesh|Missing Values|Missing Values| 40000|
|      NULL|            34|            10| 38000|
|      NULL|            36|Missing Values|  NULL|
+----------+--------------+--------------+------+

In [ ]:
df_pyspark2.show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Sudhanshun|  30|         8| 25000|
|     Sunny|  29|         4| 20000|
|      Paul|  24|         3| 20000|
|    Harsha|  21|         1| 15000|
|   Shubham|  23|         2| 18000|
|    Mahesh|NULL|      NULL| 40000|
|      NULL|  34|        10| 38000|
|      NULL|  36|      NULL|  NULL|
+----------+----+----------+------+

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.feature import Imputer
spark=SparkSession.builder.appName("Practise").getOrCreate()
df_pyspark1.withColumn('Experience After 2 year', df_pyspark1['Experience']+2)
df_pyspark3.filter((df_pyspark3["Salary"]<=20000) & (df_pyspark3["Salary"]>=15000)).show()
df_pyspark4.groupBy('Name').sum().show()
df_pyspark4.agg({'Salary': 'sum'}).show()
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=["Age", "Experience"], outputCol="Independent Feature")
output=featureassembler.transform(training)
output.show()
output.columns
finalized_data = output.select("Independent Feature", "Salary")
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([.75, .25])
regressor = LinearRegression(featuresCol='Independent Feature', labelCol = "Salary")
regressor = regressor.fit(train_data)

In [ ]:
imputer = Imputer(
    inputCols=['Age','Experience', 'Salary'],
    outputCols=["{}.imputed".format(c) for c in ['Age', 'Experience', 'Salary']],
).setStrategy("mean")

In [ ]:
imputer.fit(df_pyspark2).transform(df_pyspark2).show()

+----------+----+----------+------+-----------+------------------+--------------+
|      Name| Age|Experience|Salary|Age.imputed|Experience.imputed|Salary.imputed|
+----------+----+----------+------+-----------+------------------+--------------+
|     Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshun|  30|         8| 25000|         30|                 8|         25000|
|     Sunny|  29|         4| 20000|         29|                 4|         20000|
|      Paul|  24|         3| 20000|         24|                 3|         20000|
|    Harsha|  21|         1| 15000|         21|                 1|         15000|
|   Shubham|  23|         2| 18000|         23|                 2|         18000|
|    Mahesh|NULL|      NULL| 40000|         28|                 5|         40000|
|      NULL|  34|        10| 38000|         34|                10|         38000|
|      NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+----------+----+----------+------+-----------+------------------+--------------+

PySpark Dataframes
.Filter Operation
.&,|==
.~

In [ ]:
df_pyspark3 = spark.read.csv("/content/test1 - Sheet1.csv", header = True)

In [ ]:
df_pyspark3.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Michael| 31|        10| 30000|
|   Alex| 30|         8| 25000|
|    Ben| 29|         4| 20000|
+-------+---+----------+------+

### Filter Operations

In [ ]:
##Salry of the people less than or equal to 20000

In [ ]:
df_pyspark3.filter("Salary<=20000").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Ben| 29|         4| 20000|
+----+---+----------+------+

In [ ]:
df_pyspark3.filter("Salary<=20000").select(["Name", "Age"]).show()

+----+---+
|Name|Age|
+----+---+
| Ben| 29|
+----+---+

In [ ]:
df_pyspark3.filter((df_pyspark3["Salary"]<=20000) & (df_pyspark3["Salary"]>=15000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Ben| 29|         4| 20000|
+----+---+----------+------+

In [ ]:
df_pyspark3.filter((df_pyspark3["Salary"]<=20000) | (df_pyspark3["Salary"]>=15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Michael| 31|        10| 30000|
|   Alex| 30|         8| 25000|
|    Ben| 29|         4| 20000|
+-------+---+----------+------+

In [ ]:
df_pyspark3.filter(~(df_pyspark3["Salary"]<=20000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Michael| 31|        10| 30000|
|   Alex| 30|         8| 25000|
+-------+---+----------+------+

In [ ]:
spark1 = SparkSession.builder.appName("practice1").getOrCreate()

In [ ]:
spark1

In [ ]:
df_pyspark4 = spark1.read.csv("/content/pySpark-test - Sheet1 (2).csv", header = True, inferSchema= True)

In [ ]:
df_pyspark4.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|Michael|    school|    35|
|   Alex|  hospital|    68|
|    Ben|      tech|    21|
|    Ben|   science|    32|
|   Alex|      math|    46|
|Michael|   history|    32|
|   Alex|  hospital|    31|
+-------+----------+------+

In [ ]:
df_pyspark4.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
## Groupby
df_pyspark4.groupBy('Name')

GroupedData[grouping expressions: [Name], value: [Name: string, Department: string ... 1 more field], type: GroupBy]

In [ ]:
df_pyspark4.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [ ]:
##grouping to find the maximum salary
df_pyspark4.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|Michael|         67|
|   Alex|        145|
|    Ben|         53|
+-------+-----------+

In [ ]:
### Group by Department

In [ ]:
df_pyspark4.groupBy("Department").sum().show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|    school|         35|
|   history|         32|
|   science|         32|
|  hospital|         99|
|      tech|         21|
|      math|         46|
+----------+-----------+

In [ ]:
df_pyspark4.groupBy("Department").mean().show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|    school|       35.0|
|   history|       32.0|
|   science|       32.0|
|  hospital|       49.5|
|      tech|       21.0|
|      math|       46.0|
+----------+-----------+

In [ ]:
df_pyspark4.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|    school|    1|
|   history|    1|
|   science|    1|
|  hospital|    2|
|      tech|    1|
|      math|    1|
+----------+-----+

In [ ]:
df_pyspark4.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|        265|
+-----------+

In [ ]:
df_pyspark4.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|Michael|         35|
|   Alex|         68|
|    Ben|         32|
+-------+-----------+

In [ ]:
df_pyspark4.groupBy('Name').avg().show()

+-------+------------------+
|   Name|       avg(Salary)|
+-------+------------------+
|Michael|              33.5|
|   Alex|48.333333333333336|
|    Ben|              26.5|
+-------+------------------+

## Machine Learning

In [ ]:
df_pyspark5 = spark1.read.csv("/content/test1 - Sheet1.csv", header = True, inferSchema= True)

In [ ]:
df_pyspark5.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Michael| 31|        10| 30000|
|   Alex| 30|         8| 25000|
|    Ben| 29|         4| 20000|
|   Pual| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark5.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
training = df_pyspark5

In [ ]:
training.columns

['Name', 'Age', 'Experience', 'Salary']

In [ ]:
#[Age,Experience]---> new feature ---> indpendent feauture

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
featureassembler = VectorAssembler(inputCols=["Age", "Experience"], outputCol="Independent Feature")

In [ ]:
output=featureassembler.transform(training)

In [ ]:
output.show()

+-------+---+----------+------+-------------------+
|   Name|Age|Experience|Salary|Independent Feature|
+-------+---+----------+------+-------------------+
|Michael| 31|        10| 30000|        [31.0,10.0]|
|   Alex| 30|         8| 25000|         [30.0,8.0]|
|    Ben| 29|         4| 20000|         [29.0,4.0]|
|   Pual| 24|         3| 20000|         [24.0,3.0]|
| Harsha| 21|         1| 15000|         [21.0,1.0]|
|Shubham| 23|         2| 18000|         [23.0,2.0]|
+-------+---+----------+------+-------------------+

In [ ]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'Independent Feature']

In [ ]:
finalized_data = output.select("Independent Feature", "Salary")

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
##train test split
train_data, test_data = finalized_data.randomSplit([.75, .25])
regressor = LinearRegression(featuresCol='Independent Feature', labelCol = "Salary")
regressor = regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([109.3058, 1199.4092])

In [ ]:
regressor.intercept

12187.59231905408

In [ ]:
pred_results = regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

+-------------------+------+------------------+
|Independent Feature|Salary|        prediction|
+-------------------+------+------------------+
|         [24.0,3.0]| 20000|18409.158050221544|
|        [31.0,10.0]| 30000| 27570.16248153613|
+-------------------+------+------------------+

In [ ]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(2010.339734121164, 4217444.237654793)